# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv/
env/
venv/

# Logs and databases
*.log
*.sqlite3

# OS-specific files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Python package
*.egg-info/
dist/
build/
